/**
* All of the CSS for your public-facing functionality should be
* included in this file.
*/

.single-fundraiser {
	margin-bottom: 10px;
}
.image-container {
	width: 60px;
	height: 60px;
	float: left;
	margin-right: 10px;	
}

.classy p {
margin-bottom: 0px;
}